TimeOff.UI/Service References/Proxies.VacationService/VacationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VacationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/VacationService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/VacationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/VacationService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/VacationService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeOff.Design" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVacationService_SubmitRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitRequest" />
  </wsdl:message>
  <wsdl:message name="IVacationService_SubmitRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IVacationService_CancelRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelRequest" />
  </wsdl:message>
  <wsdl:message name="IVacationService_CancelRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IVacationService_ApproveRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveRequest" />
  </wsdl:message>
  <wsdl:message name="IVacationService_ApproveRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IVacationService_RejectRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectRequest" />
  </wsdl:message>
  <wsdl:message name="IVacationService_RejectRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IVacationService_GetAvailableDaysByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDaysByUser" />
  </wsdl:message>
  <wsdl:message name="IVacationService_GetAvailableDaysByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDaysByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IVacationService_GetAvailableDaysByAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDaysByAllUsers" />
  </wsdl:message>
  <wsdl:message name="IVacationService_GetAvailableDaysByAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableDaysByAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IVacationService">
    <wsdl:operation name="SubmitRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IVacationService/SubmitRequest" message="tns:IVacationService_SubmitRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVacationService/SubmitRequestResponse" message="tns:IVacationService_SubmitRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IVacationService/CancelRequest" message="tns:IVacationService_CancelRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVacationService/CancelRequestResponse" message="tns:IVacationService_CancelRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IVacationService/ApproveRequest" message="tns:IVacationService_ApproveRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVacationService/ApproveRequestResponse" message="tns:IVacationService_ApproveRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IVacationService/RejectRequest" message="tns:IVacationService_RejectRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVacationService/RejectRequestResponse" message="tns:IVacationService_RejectRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDaysByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IVacationService/GetAvailableDaysByUser" message="tns:IVacationService_GetAvailableDaysByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVacationService/GetAvailableDaysByUserResponse" message="tns:IVacationService_GetAvailableDaysByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDaysByAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IVacationService/GetAvailableDaysByAllUsers" message="tns:IVacationService_GetAvailableDaysByAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVacationService/GetAvailableDaysByAllUsersResponse" message="tns:IVacationService_GetAvailableDaysByAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVacationService" type="tns:IVacationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitRequest">
      <soap:operation soapAction="http://tempuri.org/IVacationService/SubmitRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap:operation soapAction="http://tempuri.org/IVacationService/CancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveRequest">
      <soap:operation soapAction="http://tempuri.org/IVacationService/ApproveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectRequest">
      <soap:operation soapAction="http://tempuri.org/IVacationService/RejectRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDaysByUser">
      <soap:operation soapAction="http://tempuri.org/IVacationService/GetAvailableDaysByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDaysByAllUsers">
      <soap:operation soapAction="http://tempuri.org/IVacationService/GetAvailableDaysByAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VacationService">
    <wsdl:port name="BasicHttpBinding_IVacationService" binding="tns:BasicHttpBinding_IVacationService">
      <soap:address location="http://localhost:8080/VacationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>