TimeOff.UI/Service References/Proxies.VacationService/VacationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/VacationService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/VacationService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeOff.Design" />
  <xs:element name="SubmitRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="days" nillable="true" type="q1:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDaysByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDaysByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TimeOff.Design" minOccurs="0" name="GetAvailableDaysByUserResult" nillable="true" type="q2:Days" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDaysByAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDaysByAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimeOff.Design" minOccurs="0" name="GetAvailableDaysByAllUsersResult" nillable="true" type="q3:ArrayOfUserDays" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>