TimeOff.UI/Service References/Proxies.VacationService/VacationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TimeOff.Design" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TimeOff.Design" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Days">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Days" nillable="true" type="tns:Days" />
  <xs:complexType name="ArrayOfUserDays">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDays" nillable="true" type="tns:UserDays" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDays" nillable="true" type="tns:ArrayOfUserDays" />
  <xs:complexType name="UserDays">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UserDays" nillable="true" type="tns:UserDays" />
</xs:schema>